@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.notification{
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Caveat';
}

.notificationdetails{
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Caveat';
		text-indent: 50px;
}

.notificationdetails:hover {
    text-decoration: underline;
    color: white;
    font-family: 'Caveat'; 
  }

