@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


.notification{
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Caveat';
}

.notificationdetails{
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Caveat';
    

}

.notificationdetails:hover {
    text-decoration: underline;
    color: white;
    font-family: 'Caveat'; 
  }

