/* Contains Information for shifting the Content when the Navbar Expands */
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


.page-content {
  flex-grow: 1;
  margin-left: 50px;
  padding-left: 2%;
  transition: margin-left 0.2s ease-in-out;
}

.shifted-content {
  margin-left: 200px;
}

.Button {
    width: 120px; 
    background-color: #cd561b;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
  }
  
  .Button:hover {
    background-color: #e57036;
  }

  .page_title{
    font-family: 'Caveat';
    font-size: 50px;
    color: #cd561b;
  }

  .page_subheading {
    font-family: 'Caveat', sans-serif; 
    font-size: 40px;
    color: #333; 
  }